body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
#root {
  display: flex;
  width: auto;
  margin: auto;
}
main {
  margin: auto;
  width: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form {
  display: flex;
  flex-direction: column;
}
fieldset {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
button {
  padding: 20px;
  font-size: 16px;
}
